@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.logo {
    font-family: 'Pacifico', cursive;
}

.listHeader {

    font-family: 'Pacifico', cursive;
    font-size: 80px;
    color: #060705;
    margin: 60px 0px;
    text-align: center;
    text-decoration: underline #060705 solid 1px;
}


.snowflake {
    animation: fall 10s linear;
}



@keyframes fall {

    from {}

    to {
        transform: translateY(50vh);
        opacity: 0;
    }


}